body {
    background-color: #fdfdfd;
}

#terminal {
    max-width:800px;
    width:100%;
    margin:0 auto;
    background-color: #ddd;
    border: solid 2px #ccc;
}

#output-container {
    height: 400px;
    background-color:#222;
    margin: 10px;
}

#interaction-container {
    margin:10px;
}

iframe {
    width:100%;
    height:100%;
}

